// Settings
// ========

$base-on: $output-styles !default;


// Base
// ====

@if $base-on {

	/* Windows Phone 8 device-width fix
	   http://timkadlec.com/2013/01/windows-phone-8-and-device-width/ */

	// Not doing this fix anymore now that JS is not required. Keep this here anyway...

	@-webkit-viewport { width: device-width }
	@-moz-viewport    { width: device-width }
	@-ms-viewport     { width: device-width }
	@-o-viewport      { width: device-width }
	@viewport         { width: device-width }


	/* Box model fix (IE8+) */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


	/* Turn off tap styles and only apply them when needed */

	* {
		-webkit-tap-highlight-color: transparent;
	}


	/* Fix font settings */

	html, button, input, select, textarea {
		text-rendering: optimizeLegibility;
		-webkit-font-feature-settings: "kern","liga","case";       /* No variation */
		-moz-font-feature-settings:    "kern=1","liga=1","case=1"; /* Firefox 4.0 to 14.0 */
		-moz-font-feature-settings:    "kern","liga","case";       /* Firefox 15.0 onwards */
		-moz-font-feature-settings:    "kern"1,"liga"1,"case"1;    /* Firefox 15.0 onwards explicitly set feature values */
		font-feature-settings:         "kern","liga","case";       /* No variation */
	}


	/* Set up page.
	   Basic font size is assumed to be 16px by default, and a percentage value is
	   calculated based of the specified font size. */

	html, body {
		overflow-x: hidden; // Some weird bug with responsive containers causing a scrollbar to appear...
	}

	html {
		height: 100%;
		font-size: (strip-unit($base-font-size) / 16) * 100%;
	}

	body {
		height: auto;
		min-height: 100%; // Use min-height so it doesn't affect Javascript scrolling
		padding-top: .01em; // What was this for again? I know this was important... TODO

		/* Reduce font size if the screen size is ridiculously small */
		@include under($base-reduce-breakpoint)
		{
			font-size: per-to-dec($base-reduce) * 1em;
		}
	}


	/* Remove the gap between images, videos, audio and canvas and the bottom of
	   their containers: h5bp.com/i/440 */

	audio, canvas, img, svg, video {
		vertical-align: middle;
	}


	/* Remove default fieldset styles. */

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}


	/* For touch screen devices running IE, the following removes the ~300ms
	   delay between clicking and the event being executed. */

	a, input, button {
		-ms-touch-action: none;
	}

	a, button {
		cursor: pointer;
	}


	/* Completely clear any default button styles */

	button {
		background: none;
		border: 0;
		padding: 0;
		margin: 0;
		outline: 0;
	}


	/* Allow only vertical resizing of textareas. */

	textarea {
		resize: vertical;
	}


	/* More appropriate cursors */

	input[type='date'],
	input[type='checkbox'],
	input[type='radio'],
	select,
	label {
		cursor: pointer;
	}


	/* iOS style fixes (removes default rounded corners) */

	input,
	select,
	textarea {
		border-radius: 0;
	}


	/* Force noscript tags to be invisible in presence of JavaScript in case
	   they have been styled. */

	html#{feature('js')} noscript {
		display: none !important;
	}


	/* Monospace the right stuff */

	code, var,
	samp, pre,
	kbd {
		// Some browsers don't properly handle "monospace" *cough* Chrome Mobile *cough*
		font-family: 'Courier New', monospace, monospace;
		font-style: normal;

		// I heard this is an IE fix, just roll with it
		font-size: 1em;
	}

}