// Settings
// ========

$columns-on: $output-styles !default;
$columns-name: module('columns') !default;
$column-name: module('column') !default;

$columns-h-gaps: $base-gutters !default;
$columns-v-gaps: $base-gutters !default;

$columns-breakpoints: $base-breakpoints !default;
$columns-divisions: $base-divisions !default;


// Module
// ======

@if $columns-on
{
	#{$columns-name} {
		@extend %structure;
		@extend %structure-gaps;

		> #{$column-name} {
			width: 100%;
		}

		@each $breakpoint-name, $breakpoint-value in $columns-breakpoints
		{
			@include over($breakpoint-value)
			{
				> #{$column-name} {

					@each $division-name, $division-value in $columns-divisions
					{
						@include parameter($breakpoint-name, $division-name) {
							width: $division-value;
						}
					}
				}
			}
		}
	}
}