// Settings
// ========

$container-on: $output-styles !default;
$container-name: module('container') !default;
$container-width: $base-max-width !default;
$container-divisions: $base-divisions !default;


// Module
// ======

@if $container-on {

	.container {
		@extend %clearfix; // Just for good measure...

		max-width: $container-width;
		margin: auto;

		@each $division-name, $division-value in $container-divisions
		{
			&#{parameter('width', $division-name)} {
				max-width: per-to-dec($division-value) * $container-width;
			}
		}

		&#{parameter('width', 'fill')} {
			max-width: none;
		}

		&#{parameter('align', 'left')} {
			margin: 0 auto 0 0;
		}

		&#{parameter('align', 'center')} {
			margin: 0 auto;
		}

		&#{parameter('align', 'right')} {
			margin: 0 0 0 auto;
		}
	}
}