// Settings
// ========

$grids: 6 !default;
$grid-on: $output-styles !default;
$grid-name: module('grid') !default;
$grid-cell-name: module('cell') !default;

$grid-max-width: $base-max-width !default;
$grid-cell-contract: 0% !default; // How much can the cells contract before wrapping?

$grid-h-gaps: $base-gutters !default;
$grid-v-gaps: $base-gutters !default;


// Module
// ======

@if $grid-on
{
	#{$grid-name} {
		@extend %structure;
		@extend %structure-gaps;

		> #{$grid-cell-name} {
			width: 100%;
		}

		@for $i from 2 through $grids
		{
			@include parameter('has', $i) {

				> #{$grid-cell-name} {
					width: (100% / $i);
				}
			}

			$cell-contract: per-to-dec($grid-cell-contract) * $grid-max-width;
			$root-cell-width: ($grid-max-width / $i);

			@for $j from ($i - 1) through 1
			{
				$cell-width: (100% / $j);
				$breakpoint: $root-cell-width * ($j + 1) - $cell-contract;

				@if $breakpoint > 0
				{
					@include under($breakpoint) {

						@include parameter('has', $i) {

							> #{$grid-cell-name} {
								width: $cell-width;
							}
						}
					}
				}
			}
		}
	}
}