// Settings
// ========

$ratiobox-on: $output-styles !default;
$ratiobox-name: module('ratiobox') !default;
$ratiobox-box-name: module('box') !default;
$ratiobox-ratios: (1,1) (5,4) (4,3) (3,2) (16,10) (5,3) (16,9) (1.85,1) (2,1) (2.39,1) !default;
$ratiobox-invert: false !default;


// Mixins
// ======

@mixin ratiobox($x: 1, $y: 1)
{
	display: block;
	position: relative;
	padding: ($y / $x * 100%) 0 0 100%;
}

@mixin ratiobox-box
{
	display: block;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	// Width and height set for iframes
	width: 100%;
	height: 100%;
}


// Module
// ======

@if $ratiobox-on
{
	#{$ratiobox-name} {
		@include ratiobox;

		@each $ratio in $ratiobox-ratios
		{
			$x: nth($ratio, 1);
			$y: nth($ratio, 2);

			$name: str-replace($x + '-' + $y, '.', '_');

			@include parameter('ratio', $name)
			{
				padding: ($y / $x * 100%) 0 0 100%;
			}

			@if $ratiobox-invert
			{
				$name: str-replace($y + '-' + $x, '.', '_');

				@include parameter('ratio', $name)
				{
					padding: ($x / $y * 100%) 0 0 100%;
				}
			}
		}

		> #{$ratiobox-box-name} {
			@include ratiobox-box;
		}
	}
}
