// Settings
// ========

$text-columns-on: $output-styles !default;
$text-columns-name: module('text-columns') !default;

$text-columns: 6 !default;
$text-columns-gaps: $base-gutters !default;
$text-columns-breakpoints: $base-breakpoints !default;


// Module
// ======

@if $text-columns-on {

	#{$text-columns-name} {
		// Add a default, non-zero gap for consistency
		-webkit-column-gap: 1em;
		-moz-column-gap: 1em;
		column-gap: 1em;

		@each $breakpoint-name, $breakpoint-value in $text-columns-breakpoints {
			@include over($breakpoint-value) {
				@for $i from 1 through $text-columns {
					&#{parameter($breakpoint-name, $i)} {
						-webkit-column-count: $i;
						-moz-column-count: $i;
						column-count: $i;
					}
				}
			}
		}

		@each $gap-name, $gap-value in $text-columns-gaps {
			&#{parameter('gap', $gap-name)} {
				-webkit-column-gap: $gap-value;
				-moz-column-gap: $gap-value;
				column-gap: $gap-value;
			}
		}

		/* Firefox does not support this... probably not a useful feature
		> #{parameter('span')} {
			-webkit-column-span: all;
			column-span: all;
		}
		*/
	}

}