// Settings
// ========

$remove-on: $output-styles !default;


// Mixins
// ======

@mixin h-trim {

	> :first-child {
		margin-left: 0 !important;
	}

	> :last-child {
		margin-right: 0 !important;
	}
}

@mixin v-trim {

	> :first-child {
		margin-top: 0 !important;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}
}


// Utilities
// =========

@if $remove-on {

	@include utility('no-margin') {
		margin: 0 !important;
	}

	@include utility('no-h-margin') {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	@include utility('no-v-margin') {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	@include utility('no-l-margin') {
		margin-left: 0 !important;
	}
	@include utility('no-r-margin') {
		margin-right: 0 !important;
	}
	@include utility('no-t-margin') {
		margin-top: 0 !important;
	}
	@include utility('no-b-margin') {
		margin-bottom: 0 !important;
	}

	@include utility('no-padding') {
		padding: 0 !important;
	}

	@include utility('no-h-padding') {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	@include utility('no-v-padding') {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	@include utility('no-l-padding') {
		padding-left: 0 !important;
	}
	@include utility('no-r-padding') {
		padding-right: 0 !important;
	}
	@include utility('no-t-padding') {
		padding-top: 0 !important;
	}
	@include utility('no-b-padding') {
		padding-bottom: 0 !important;
	}

	@include utility('h-trim') {
		@include h-trim;
	}

	@include utility('v-trim') {
		@include v-trim;
	}

}