// Settings
// ========

$sizes-on: $output-styles !default;


// Utilities
// =========

@if $sizes-on {

	@each $name, $size in $base-sizes {

		@include utility($name) {
			font-size: $size !important;
		}
	}

	@include utility('responsive') {
		max-width: 100% !important;

		@at-root img#{&} {
			height: auto !important;
		}
	}

	@include utility('fill') {
		width: 100% !important;

		@at-root img#{&} {
			height: auto !important;
		}
	}

	@include utility('cover') {
		min-width: 100% !important;
		min-height: 100% !important;

		@at-root img#{&} {
			width: auto !important;
			height: auto !important;
		}
	}

}