$hf-icon-font: 'entypo';

@font-face {
	font-family: $hf-icon-font;
	src: url('../icons/entypo.eot?bsbfut');
	src: url('../icons/entypo.eot?#iefixbsbfut') format('embedded-opentype'),
	     url('../icons/entypo.woff?bsbfut') format('woff'),
	     url('../icons/entypo.ttf?bsbfut') format('truetype'),
	     url('../icons/entypo.svg?bsbfut#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$hf-icons: (
	add-to-list: "\e600",
	classic-computer: "\e601",
	controller-fast-backward: "\e602",
	creative-commons-attribution: "\e603",
	creative-commons-noderivs: "\e604",
	creative-commons-noncommercial-eu: "\e605",
	creative-commons-noncommercial-us: "\e606",
	creative-commons-public-domain: "\e607",
	creative-commons-remix: "\e608",
	creative-commons-share: "\e609",
	creative-commons-sharealike: "\e60a",
	creative-commons: "\e60b",
	document-landscape: "\e60c",
	remove-user: "\e60d",
	warning: "\e60e",
	arrow-bold-down: "\e60f",
	arrow-bold-left: "\e610",
	arrow-bold-right: "\e611",
	arrow-bold-up: "\e612",
	arrow-down: "\e613",
	arrow-left: "\e614",
	arrow-long-down: "\e615",
	arrow-long-left: "\e616",
	arrow-long-right: "\e617",
	arrow-long-up: "\e618",
	arrow-right: "\e619",
	arrow-up: "\e61a",
	arrow-with-circle-down: "\e61b",
	arrow-with-circle-left: "\e61c",
	arrow-with-circle-right: "\e61d",
	arrow-with-circle-up: "\e61e",
	bookmark: "\e61f",
	bookmarks: "\e620",
	chevron-down: "\e621",
	chevron-left: "\e622",
	chevron-right: "\e623",
	chevron-small-down: "\e624",
	chevron-small-left: "\e625",
	chevron-small-right: "\e626",
	chevron-small-up: "\e627",
	chevron-thin-down: "\e628",
	chevron-thin-left: "\e629",
	chevron-thin-right: "\e62a",
	chevron-thin-up: "\e62b",
	chevron-up: "\e62c",
	chevron-with-circle-down: "\e62d",
	chevron-with-circle-left: "\e62e",
	chevron-with-circle-right: "\e62f",
	chevron-with-circle-up: "\e630",
	cloud: "\e631",
	controller-fast-forward: "\e632",
	controller-jump-to-start: "\e633",
	controller-next: "\e634",
	controller-paus: "\e635",
	controller-play: "\e636",
	controller-record: "\e637",
	controller-stop: "\e638",
	controller-volume: "\e639",
	dot-single: "\e63a",
	dots-three-horizontal: "\e63b",
	dots-three-vertical: "\e63c",
	dots-two-horizontal: "\e63d",
	dots-two-vertical: "\e63e",
	download: "\e63f",
	emoji-flirt: "\e640",
	flow-branch: "\e641",
	flow-cascade: "\e642",
	flow-line: "\e643",
	flow-parallel: "\e644",
	flow-tree: "\e645",
	install: "\e646",
	layers: "\e647",
	open-book: "\e648",
	resize-100: "\e649",
	resize-full-screen: "\e64a",
	save: "\e64b",
	select-arrows: "\e64c",
	sound-mute: "\e64d",
	sound: "\e64e",
	trash: "\e64f",
	triangle-down: "\e650",
	triangle-left: "\e651",
	triangle-right: "\e652",
	triangle-up: "\e653",
	uninstall: "\e654",
	upload-to-cloud: "\e655",
	upload: "\e656",
	add-user: "\e657",
	address: "\e658",
	adjust: "\e659",
	air: "\e65a",
	aircraft-landing: "\e65b",
	aircraft-take-off: "\e65c",
	aircraft: "\e65d",
	align-bottom: "\e65e",
	align-horizontal-middle: "\e65f",
	align-left: "\e660",
	align-right: "\e661",
	align-top: "\e662",
	align-vertical-middle: "\e663",
	archive: "\e664",
	area-graph: "\e665",
	attachment: "\e666",
	awareness-ribbon: "\e667",
	back-in-time: "\e668",
	back: "\e669",
	bar-graph: "\e66a",
	battery: "\e66b",
	beamed-note: "\e66c",
	bell: "\e66d",
	blackboard: "\e66e",
	block: "\e66f",
	book: "\e670",
	bowl: "\e671",
	box: "\e672",
	briefcase: "\e673",
	browser: "\e674",
	brush: "\e675",
	bucket: "\e676",
	cake: "\e677",
	calculator: "\e678",
	calendar: "\e679",
	camera: "\e67a",
	ccw: "\e67b",
	chat: "\e67c",
	check: "\e67d",
	circle-with-cross: "\e67e",
	circle-with-minus: "\e67f",
	circle-with-plus: "\e680",
	circle: "\e681",
	circular-graph: "\e682",
	clapperboard: "\e683",
	clipboard: "\e684",
	clock: "\e685",
	code: "\e686",
	cog: "\e687",
	colours: "\e688",
	compass: "\e689",
	copy: "\e68a",
	credit-card: "\e68b",
	credit: "\e68c",
	cross: "\e68d",
	cup: "\e68e",
	cw: "\e68f",
	cycle: "\e690",
	database: "\e691",
	dial-pad: "\e692",
	direction: "\e693",
	document: "\e694",
	documents: "\e695",
	drink: "\e696",
	drive: "\e697",
	drop: "\e698",
	edit: "\e699",
	email: "\e69a",
	emoji-happy: "\e69b",
	emoji-neutral: "\e69c",
	emoji-sad: "\e69d",
	erase: "\e69e",
	eraser: "\e69f",
	export: "\e6a0",
	eye: "\e6a1",
	feather: "\e6a2",
	flag: "\e6a3",
	flash: "\e6a4",
	flashlight: "\e6a5",
	flat-brush: "\e6a6",
	folder-images: "\e6a7",
	folder-music: "\e6a8",
	folder-video: "\e6a9",
	folder: "\e6aa",
	forward: "\e6ab",
	funnel: "\e6ac",
	game-controller: "\e6ad",
	gauge: "\e6ae",
	globe: "\e6af",
	graduation-cap: "\e6b0",
	grid: "\e6b1",
	hair-cross: "\e6b2",
	hand: "\e6b3",
	heart-outlined: "\e6b4",
	heart: "\e6b5",
	help-with-circle: "\e6b6",
	help: "\e6b7",
	home: "\e6b8",
	hour-glass: "\e6b9",
	image-inverted: "\e6ba",
	image: "\e6bb",
	images: "\e6bc",
	inbox: "\e6bd",
	infinity: "\e6be",
	info-with-circle: "\e6bf",
	info: "\e6c0",
	key: "\e6c1",
	keyboard: "\e6c2",
	lab-flask: "\e6c3",
	landline: "\e6c4",
	language: "\e6c5",
	laptop: "\e6c6",
	leaf: "\e6c7",
	level-down: "\e6c8",
	level-up: "\e6c9",
	lifebuoy: "\e6ca",
	light-bulb: "\e6cb",
	light-down: "\e6cc",
	light-up: "\e6cd",
	line-graph: "\e6ce",
	link: "\e6cf",
	list: "\e6d0",
	location-pin: "\e6d1",
	location: "\e6d2",
	lock-open: "\e6d3",
	lock: "\e6d4",
	log-out: "\e6d5",
	login: "\e6d6",
	loop: "\e6d7",
	magnet: "\e6d8",
	magnifying-glass: "\e6d9",
	mail: "\e6da",
	man: "\e6db",
	map: "\e6dc",
	mask: "\e6dd",
	medal: "\e6de",
	megaphone: "\e6df",
	menu: "\e6e0",
	message: "\e6e1",
	mic: "\e6e2",
	minus: "\e6e3",
	mobile: "\e6e4",
	modern-mic: "\e6e5",
	moon: "\e6e6",
	mouse: "\e6e7",
	music: "\e6e8",
	network: "\e6e9",
	new-message: "\e6ea",
	new: "\e6eb",
	news: "\e6ec",
	note: "\e6ed",
	notification: "\e6ee",
	old-mobile: "\e6ef",
	old-phone: "\e6f0",
	palette: "\e6f1",
	paper-plane: "\e6f2",
	pencil: "\e6f3",
	phone: "\e6f4",
	pie-chart: "\e6f5",
	pin: "\e6f6",
	plus: "\e6f7",
	popup: "\e6f8",
	power-plug: "\e6f9",
	price-ribbon: "\e6fa",
	price-tag: "\e6fb",
	print: "\e6fc",
	progress-empty: "\e6fd",
	progress-full: "\e6fe",
	progress-one: "\e6ff",
	progress-two: "\e700",
	publish: "\e701",
	quote: "\e702",
	radio: "\e703",
	reply-all: "\e704",
	reply: "\e705",
	retweet: "\e706",
	rocket: "\e707",
	round-brush: "\e708",
	rss: "\e709",
	ruler: "\e70a",
	scissors: "\e70b",
	share-alternitive: "\e70c",
	share: "\e70d",
	shareable: "\e70e",
	shield: "\e70f",
	shop: "\e710",
	shopping-bag: "\e711",
	shopping-basket: "\e712",
	shopping-cart: "\e713",
	shuffle: "\e714",
	signal: "\e715",
	sound-mix: "\e716",
	sports-club: "\e717",
	spreadsheet: "\e718",
	squared-cross: "\e719",
	squared-minus: "\e71a",
	squared-plus: "\e71b",
	star-outlined: "\e71c",
	star: "\e71d",
	stopwatch: "\e71e",
	suitcase: "\e71f",
	swap: "\e720",
	sweden: "\e721",
	switch: "\e722",
	tablet: "\e723",
	tag: "\e724",
	text-document-inverted: "\e725",
	text-document: "\e726",
	text: "\e727",
	thermometer: "\e728",
	thumbs-down: "\e729",
	thumbs-up: "\e72a",
	thunder-cloud: "\e72b",
	ticket: "\e72c",
	time-slot: "\e72d",
	tools: "\e72e",
	traffic-cone: "\e72f",
	tree: "\e730",
	trophy: "\e731",
	tv: "\e732",
	typing: "\e733",
	unread: "\e734",
	untag: "\e735",
	user: "\e736",
	users: "\e737",
	v-card: "\e738",
	video: "\e739",
	vinyl: "\e73a",
	voicemail: "\e73b",
	wallet: "\e73c",
	water: "\e73d",
	// 500px-with-circle: "\e73e",
	// 500px: "\e73f",
	basecamp: "\e740",
	behance: "\e741",
	creative-cloud: "\e742",
	dropbox: "\e743",
	evernote: "\e744",
	flattr: "\e745",
	foursquare: "\e746",
	google-drive: "\e747",
	google-hangouts: "\e748",
	grooveshark: "\e749",
	icloud: "\e74a",
	mixi: "\e74b",
	onedrive: "\e74c",
	paypal: "\e74d",
	picasa: "\e74e",
	qq: "\e74f",
	rdio-with-circle: "\e750",
	renren: "\e751",
	scribd: "\e752",
	sina-weibo: "\e753",
	skype-with-circle: "\e754",
	skype: "\e755",
	slideshare: "\e756",
	smashing: "\e757",
	soundcloud: "\e758",
	spotify-with-circle: "\e759",
	spotify: "\e75a",
	swarm: "\e75b",
	vine-with-circle: "\e75c",
	vine: "\e75d",
	vk-alternitive: "\e75e",
	vk-with-circle: "\e75f",
	vk: "\e760",
	xing-with-circle: "\e761",
	xing: "\e762",
	yelp: "\e763",
	dribbble-with-circle: "\e764",
	dribbble: "\e765",
	facebook-with-circle: "\e766",
	facebook: "\e767",
	flickr-with-circle: "\e768",
	flickr: "\e769",
	github-with-circle: "\e76a",
	github: "\e76b",
	google-with-circle: "\e76c",
	google: "\e76d",
	instagram-with-circle: "\e76e",
	instagram: "\e76f",
	lastfm-with-circle: "\e770",
	lastfm: "\e771",
	linkedin-with-circle: "\e772",
	linkedin: "\e773",
	pinterest-with-circle: "\e774",
	pinterest: "\e775",
	rdio: "\e776",
	stumbleupon-with-circle: "\e777",
	stumbleupon: "\e778",
	tumblr-with-circle: "\e779",
	tumblr: "\e77a",
	twitter-with-circle: "\e77b",
	twitter: "\e77c",
	vimeo-with-circle: "\e77d",
	vimeo: "\e77e",
	youtube-with-circle: "\e77f",
	youtube: "\e780"
);
