////
/// Clearfix
/// @group utilities
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (clearfix) are generated.
/// @type Boolean
$hf-generate-clearfix: $hf-generate !default;


// Asserts
// -------

@include hf-assert($hf-generate-clearfix, 'bool');


// Mixins
// ------

/// The clearfix mixin.
/// @output Styles on the :before and :after pseudo selectors that handle float clearing.
@mixin hf-clearfix {

	// For modern browsers
	// 1. The space content is one way to avoid an Opera bug when the 'contenteditable' attribute is included anywhere
	//    else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the
	//    'clearfix' class.
	// 2. The use of 'table' rather than 'block' is only necessary if using ':before' to contain the top-margins of
	//    child elements.
	// 3. In some cases (such as mixing with flexbox) display of table can have a non-zero width, which is fix accounts
	//    for.
	// 4. Only needed on that ':after' element, but by moving it under the dual selector this saves bytes and total
	//    number of selectors in the CSS file.

	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
		width: 0; // 3
		clear: both; // 4
	}
}


// Styles
// ------

%hf-clearfix {
	@include hf-clearfix;
}

@if $hf-generate-clearfix {

	@include hf-utility('clearfix') {
		@extend %hf-clearfix;
	}

	@include hf-utility('float-left') {
		float: left !important;
	}

	@include hf-utility('float-right') {
		float: right !important;
	}
}
