////
/// Gutters
/// @group utilities
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (gutters) are generated.
/// @type Boolean
$hf-generate-gutters: $hf-generate !default;


// Asserts
// -------

@include hf-assert($hf-generate-gutters, 'bool');


// Styles
// ------

@if $hf-generate-gutters {

	@each $property in 'margin', 'padding' {

		@each $gutter-name, $gutter-value in join($hf-gutters, ('none': 0)) {

			@include hf-utility('t-' + $property + '-' + $gutter-name) { #{$property}-top:    $gutter-value !important; }
			@include hf-utility('b-' + $property + '-' + $gutter-name) { #{$property}-bottom: $gutter-value !important; }
			@include hf-utility('l-' + $property + '-' + $gutter-name) { #{$property}-left:   $gutter-value !important; }
			@include hf-utility('r-' + $property + '-' + $gutter-name) { #{$property}-right:  $gutter-value !important; }

			@include hf-utility('h-' + $property + '-' + $gutter-name) {
				#{$property}-top:    $gutter-value !important;
				#{$property}-bottom: $gutter-value !important;
			}

			@include hf-utility('v-' + $property + '-' + $gutter-name) {
				#{$property}-left:  $gutter-value !important;
				#{$property}-right: $gutter-value !important;
			}

			@include hf-utility($property + '-' + $gutter-name) {
				#{$property}: $gutter-value !important;
			}
		}
	}

	@include hf-utility('t-trim') {
		> :first-child { margin-top:    0 !important; }
	}

	@include hf-utility('b-trim') {
		> :last-child  { margin-bottom: 0 !important; }
	}

	@include hf-utility('l-trim') {
		> :first-child { margin-left:   0 !important; }
	}

	@include hf-utility('r-trim') {
		> :last-child  { margin-right:  0 !important; }
	}

	@include hf-utility('h-trim') {
		> :first-child { margin-left:   0 !important; }
		> :last-child  { margin-right:  0 !important; }
	}

	@include hf-utility('v-trim') {
		> :first-child { margin-top:    0 !important; }
		> :last-child  { margin-bottom: 0 !important; }
	}

	@include hf-utility('trim') {
		> :first-child { margin-top:    0 !important; margin-left:  0 !important; }
		> :last-child  { margin-bottom: 0 !important; margin-right: 0 !important; }
	}
}