@include hf-module('panel') {
	border-radius: $border-radius;
	border: 1px solid hf-color('light');
	padding: hf-gutter('lg');

	> ._title {
		margin: 0 0 1em 0;
		color: hf-color('light');
	}

	> ._body {
		padding: hf-gutter('lg');
	}
}
