@include hf-module('panel') {
	padding: hf-gutter('lg');
	border: 1px solid hf-color('light');
	border-radius: $border-radius;

	> ._title {
		margin: 0 0 1em;
		color: hf-color('light');
	}

	> ._body {
		padding: hf-gutter('lg');
	}
}
