////
/// Container
/// @group core-structures
/// @author Benjamin Fleming
////


// Settings
// --------

/// Controls whether styles in this file (container) are generated.
/// @type Boolean
$hf-generate-container: $hf-generate !default;

/// The container module selector
/// @type String
$hf-container-selector: hf-module('container') !default;


// Asserts
// -------

@include hf-assert($hf-generate-container, 'bool');
@include hf-assert($hf-container-selector, 'string');


// Styles
// ------

@if $hf-generate-container {

	#{$hf-container-selector} {
		max-width: $hf-max-width;
		margin-left: auto;
		margin-right: auto;

		@each $division-name, $division-value in $hf-divisions {

			@include hf-parameter('width-' + $division-name) {
				max-width: hf-convert($division-value, 'decimal') * $hf-max-width;
			}
		}

		@include hf-parameter('width-fill') {
			max-width: none;
		}

		@include hf-parameter('align-left') {
			margin-left: 0;
			margin-right: auto;
		}

		@include hf-parameter('align-right') {
			margin-left: auto;
			margin-right: 0;
		}

		@include hf-parameter('align-center') {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
