////
/// Structure
/// @group structures
/// @author Benjamin Fleming
////


// Settings
// --------

/// Whether the horizontal gap is applied using borders (border) or paddings (padding).
/// @type String
$hf-structure-h-gap-property: border !default;

/// The selector for the structure child element.
/// @type String
$hf-structure-child-selector: '*' !default;


// Mixins
// ------

/// Turns an element into a structural module.
/// @param {String} $h-align [left] - Either left, right, center or justify
/// @param {String} $v-align [left] - Either top, bottom, center or fill
/// @param {Number} $h-gap [0] - The horizontal spacing between children
/// @param {Number} $v-gap [0] - The vertical spacing between children
/// @param {Boolean} $h-outer-gap [false] - Whether to add an outside horizontal gap to the children. Uses the value set
///   in $h-gap.
/// @param {Boolean} $v-outer-gap [false] - Whether to add an outside vertical gap to the children. Uses the value set
///   in $v-gap.
/// @param {Boolean} $reversed [false] - Whether to reverse the order of the children.
/// @param {String} $h-gap-property [$hf-structure-h-gap-property] - Whether the horizontal gap is applied using borders
///   (border) or paddings (padding).
/// @param {String} $child-selector [$hf-structure-child-selector] - The selector for the structure child element.
/// @output Styles for a structural module. Will output up to two more selectors - one for the child elements, and
///   one for the after pseudo element if the horizontal gap is set to justify.
@mixin hf-structure(
	$h-align: left,
	$v-align: top,
	$h-gap: 0,
	$v-gap: 0,
	$h-outer-gap: false,
	$v-outer-gap: false,
	$reversed: false,
	$h-gap-property: $hf-structure-h-gap-property,
	$child-selector: $hf-structure-child-selector
) {
	$h-gap-half: ($h-gap / 2);
	$v-gap-half: ($v-gap / 2);

	@include hf-display-flex;
	@include hf-flex-flow(row wrap);
	@include hf-justify-content(map-get((
		left: if($reversed, flex-end, flex-start),
		right: if($reversed, flex-start, flex-end),
		center: center,
		justify: space-between
	), $h-align));
	@include hf-align-items(map-get((
		top: flex-start,
		bottom: flex-end,
		center: center,
		fill: stretch
	), $v-align));

	pointer-events: none; // Negative margins mouse event fix
	direction: if($reversed, rtl, ltr);
	word-spacing: -1em; // Remove spacing between items
	margin: if($v-outer-gap, 0, -$v-gap) if($h-outer-gap, 0, -$h-gap-half) 0;
	padding: 0 if($h-outer-gap, $h-gap-half, 0) if($v-outer-gap, $v-gap, 0);
	text-align: map-get((
		left: if($reversed, right, left),
		right: if($reversed, left, right),
		center: center,
		justify: justify
	), $h-align );

	> #{$child-selector} {
		pointer-events: auto; // Negative margins mouse event fix
		display: inline-block;
		direction: if($reversed, ltr, rtl);
		vertical-align: map-get((
			top: top,
			bottom: bottom,
			center: middle,
			fill: top
		), $v-align );
		width: auto;
		min-height: 1px; // Fix for empty blocks
		word-spacing: normal;
		text-align: left;
		list-style: none;

		@if $h-gap-half > 0 {

			@if $h-gap-property == border {
				border-left: $h-gap-half solid transparent;
				border-right: $h-gap-half solid transparent;
				background-clip: padding-box; // Borders are used for gaps, so clip backgrounds at paddings

			} @else if $h-gap-property == padding {
				padding: 0 $h-gap-half;
			}
		}

		@if $v-gap > 0 {
			margin-top: $v-gap;
		}
	}

	@if $h-align == justify {

		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
		}
	}
}


// Styles
// ------

%hf-structure {
	@include hf-structure;

	//
	// Reverse
	//

	@include hf-parameter('reversed') {
		@include hf-justify-content(flex-end);

		direction: rtl;
		text-align: right;

		> * {
			direction: ltr;
		}
	}

	//
	// Alignment
	//

	@include hf-parameter('h-align-left', 'reversed' 'h-align-right') {
		@include hf-justify-content(flex-start);

		text-align: left;
	}

	@include hf-parameter('h-align-right', 'reversed' 'h-align-left') {
		@include hf-justify-content(flex-end);

		text-align: right;
	}

	@include hf-parameter('h-align-center') {
		@include hf-justify-content(center);

		text-align: center;
	}

	@include hf-parameter('h-align-justify') {
		@include hf-justify-content(space-between);

		text-align: justify;

		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
		}
	}

	@include hf-parameter('v-align-top') {
		@include hf-align-items(flex-start);

		> * {
			vertical-align: top;
		}
	}

	@include hf-parameter('v-align-center') {
		@include hf-align-items(center);

		> * {
			vertical-align: middle;
		}
	}

	@include hf-parameter('v-align-bottom') {
		@include hf-align-items(flex-end);

		> * {
			vertical-align: bottom;
		}
	}

	@include hf-parameter('v-align-fill') {
		@include hf-align-items(stretch);
	}

	//
	// Gutters
	//

	@each $gutter-name, $gutter-value in $hf-gutters {
		$gutter-half: ($gutter-value / 2);

		@include hf-parameter('h-gap-' + $gutter-name) {
			margin-left: -$gutter-half;
			margin-right: -$gutter-half;

			@include hf-parameter('h-outer-gap') {
				margin-left: 0;
				margin-right: 0;
				padding-left: $gutter-half;
				padding-right: $gutter-half;
			}

			> * {
				border-left: $gutter-half solid transparent;
				border-right: $gutter-half solid transparent;
			}
		}

		@include hf-parameter('v-gap-' + $gutter-name) {
			margin-top: -$gutter-value;

			@include hf-parameter('v-outer-gap') {
				margin-top: 0;
				padding-top: 0;
				padding-bottom: $gutter-value;
			}

			> * {
				margin-top: $gutter-value;
			}
		}
	}
}
