// Bootcamp
// --------

$bc-setting-verbose:  true;
$bc-setting-warnings: true;

@import 'bootcamp';


// Hydro CSS
// ---------

$hf-generate: false;
$hf-font-size: 10px;

@import 'hydro';


// Tests
// -----

@include runner-start;

@import
	'functions/number';

@include runner-end;