////
/// Theme settings
/// @group theme
/// @author Benjamin Fleming
////


// Public
// ------

/// The colors to use in your template.
/// @type Map
$hf-colors: (
	'white':         #fff,
	'black':         #000,

	'darker':        #111,
	'dark':          #333,
	'mid':           #777,
	'light':         #ccc,
	'lighter':       #eee,

	'primary-light': #c5cae9,
	'primary':       #3f51b5,
	'primary-dark':  #303f9f,

	'accent-light':  #ff80ab,
	'accent':        #ff4081,
	'accent-dark':   #f50057,

	'success':       #8bc34a,
	'info':          #2196f3,
	'warning':       #ff9800,
	'danger':        #f44336
) !default;

/// The fonts to use in your template
/// @type Map
$hf-fonts: (
	'primary': ('Helvetica', sans-serif)
) !default;

/// The weights for each font defined in $hf-fonts
/// @type Map
$hf-font-weights: (
	'primary': (
		'hairline': 100,
		'light':    300,
		'regular':  400,
		'semibold': 600,
		'bold':     700,
		'black':    900
	)
) !default;


// Asserts
// -------

@include hf-assert($hf-colors, 'map', 'color' 'string');
@include hf-assert($hf-fonts, 'map', 'list' 'string');
@include hf-assert($hf-font-weights, 'map', 'map', 'string' 'number');
