////
/// Button
/// @group components
/// @author Benjamin Fleming
////


// Mixins
// ------

/// A mixin for styling buttons
/// @require {mixin} hf-textbox
/// @param {Number} $font-size [1em]
/// @param {Number | List} $padding [0]
/// @param {Number | List} $border-width [0]
/// @param {Number} $line-height [1]
/// @param {Boolean} $multiline [false]
/// @output
@mixin hf-button(
	$font-size: 1em,
	$padding: 0,
	$border-width: 0,
	$line-height: 1,
	$multiline: false
) {
	@extend %hf-button !optional;

	@include hf-textbox(
		$font-size,
		$padding,
		$border-width,
		$line-height,
		$multiline
	);

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
