.button {
	@include hf-button(
		$font-size: 14px,
		$padding: 14px 20px,
		$border-width: 1px,
		$multiline: false
	);

	font-weight: bold;
	text-transform: uppercase;
	color: hf-color('primary');
	background-color: transparent;
	border-color: hf-color('primary');

	&:hover,
	&:active {
		outline: 0;
	}

	&:hover,
	&:focus {
		background-color: hf-color('primary-light');
	}

	&:active {
		color: hf-color('white');
		background-color: hf-color('primary');
	}
}
