.button {
	@include hf-button(
		$padding: 12px 16px,
		$border-width: 1px
	);

	border-color: hf-color('primary');
	border-radius: $border-radius;
	background-color: transparent;
	color: hf-color('primary');

	&:hover,
	&:active {
		outline: 0;
	}

	&:hover,
	&:focus {
		background-color: hf-color('primary-light');
	}

	&:active {
		background-color: hf-color('primary');
		color: hf-color('white');
	}
}
