.field {
	@include hf-field(
		$font-size: 20px,
		$padding: 12px 20px,
		$border-width: 1px,
		$line-height: 1.5,
		$placeholder: true,
		$placeholder-font-size: 14px,
		$placeholder-line-height: 1.1
	);

	color: black;
	background-color: white;
	border-color: black;

	&::placeholder {
		text-transform: uppercase;
		color: grey;
		font-weight: bold;
	}
}
