.field {
	@include hf-field(
		$font-size: 20px,
		$padding: 12px 20px,
		$border-width: 1px,
		$line-height: 1.5
	);

	color: black;
	background-color: white;
	border-color: black;

	&::placeholder {
		color: grey;
	}
}
