.field {
	@include hf-field(
		$padding: 12px 16px,
		$border-width: 1px,
		$line-height: 1.2
	);

	border-color: hf-color('light');
	border-radius: $border-radius;
	background-color: hf-color('white');
	color: hf-color('darker');

	&::placeholder {
		color: hf-color('light');
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 5px hf-color('black', 0.2);
	}
}
