.label {
	@include hf-textbox(
		$padding: 12px 16px,
		$border-width: 1px,
		$line-height: 1.2
	);

	border-color: transparent;
	border-radius: $border-radius;
	background-color: transparent;
	color: hf-color('darker');
}
