/*! HydroCSS 0.0.1 | MIT License | hydroframework.io */
.\+clearfix:before, .\+clearfix:after {
  content: ' ';
  display: table;
  clear: both;
  width: 0;
}

.\+float-left {
  float: left !important;
}

.\+float-right {
  float: right !important;
}

img.\+responsive, img.\+fill {
  height: auto !important;
}

.\+responsive {
  max-width: 100% !important;
}

.\+fill {
  width: 100% !important;
}

.\+inline {
  display: inline-block !important;
  width: auto !important;
}

.\+sm {
  font-size: 0.5em !important;
}

.\+md {
  font-size: 1em !important;
}

.\+lg {
  font-size: 2em !important;
}

.\+1x {
  font-size: 1em !important;
}

.\+2x {
  font-size: 2em !important;
}

.\+3x {
  font-size: 3em !important;
}

.\+4x {
  font-size: 4em !important;
}

.\+5x {
  font-size: 5em !important;
}

.\+6x {
  font-size: 6em !important;
}

.\+7x {
  font-size: 7em !important;
}

.\+8x {
  font-size: 8em !important;
}

.\+t-margin-sm {
  margin-top: 0.5em !important;
}

.\+b-margin-sm {
  margin-bottom: 0.5em !important;
}

.\+l-margin-sm {
  margin-left: 0.5em !important;
}

.\+r-margin-sm {
  margin-right: 0.5em !important;
}

.\+h-margin-sm {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.\+v-margin-sm {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.\+margin-sm {
  margin: 0.5em !important;
}

.\+t-margin-md {
  margin-top: 1em !important;
}

.\+b-margin-md {
  margin-bottom: 1em !important;
}

.\+l-margin-md {
  margin-left: 1em !important;
}

.\+r-margin-md {
  margin-right: 1em !important;
}

.\+h-margin-md {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.\+v-margin-md {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.\+margin-md {
  margin: 1em !important;
}

.\+t-margin-lg {
  margin-top: 2em !important;
}

.\+b-margin-lg {
  margin-bottom: 2em !important;
}

.\+l-margin-lg {
  margin-left: 2em !important;
}

.\+r-margin-lg {
  margin-right: 2em !important;
}

.\+h-margin-lg {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.\+v-margin-lg {
  margin-left: 2em !important;
  margin-right: 2em !important;
}

.\+margin-lg {
  margin: 2em !important;
}

.\+t-margin-none {
  margin-top: 0 !important;
}

.\+b-margin-none {
  margin-bottom: 0 !important;
}

.\+l-margin-none {
  margin-left: 0 !important;
}

.\+r-margin-none {
  margin-right: 0 !important;
}

.\+h-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.\+v-margin-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.\+margin-none {
  margin: 0 !important;
}

.\+t-padding-sm {
  padding-top: 0.5em !important;
}

.\+b-padding-sm {
  padding-bottom: 0.5em !important;
}

.\+l-padding-sm {
  padding-left: 0.5em !important;
}

.\+r-padding-sm {
  padding-right: 0.5em !important;
}

.\+h-padding-sm {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.\+v-padding-sm {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.\+padding-sm {
  padding: 0.5em !important;
}

.\+t-padding-md {
  padding-top: 1em !important;
}

.\+b-padding-md {
  padding-bottom: 1em !important;
}

.\+l-padding-md {
  padding-left: 1em !important;
}

.\+r-padding-md {
  padding-right: 1em !important;
}

.\+h-padding-md {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.\+v-padding-md {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.\+padding-md {
  padding: 1em !important;
}

.\+t-padding-lg {
  padding-top: 2em !important;
}

.\+b-padding-lg {
  padding-bottom: 2em !important;
}

.\+l-padding-lg {
  padding-left: 2em !important;
}

.\+r-padding-lg {
  padding-right: 2em !important;
}

.\+h-padding-lg {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.\+v-padding-lg {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.\+padding-lg {
  padding: 2em !important;
}

.\+t-padding-none {
  padding-top: 0 !important;
}

.\+b-padding-none {
  padding-bottom: 0 !important;
}

.\+l-padding-none {
  padding-left: 0 !important;
}

.\+r-padding-none {
  padding-right: 0 !important;
}

.\+h-padding-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.\+v-padding-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.\+padding-none {
  padding: 0 !important;
}

.\+t-trim > :first-child {
  margin-top: 0 !important;
}

.\+b-trim > :last-child {
  margin-bottom: 0 !important;
}

.\+l-trim > :first-child {
  margin-left: 0 !important;
}

.\+r-trim > :last-child {
  margin-right: 0 !important;
}

.\+h-trim > :first-child {
  margin-left: 0 !important;
}
.\+h-trim > :last-child {
  margin-right: 0 !important;
}

.\+v-trim > :first-child {
  margin-top: 0 !important;
}
.\+v-trim > :last-child {
  margin-bottom: 0 !important;
}

.\+trim > :first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.\+trim > :last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

.\+text-left {
  text-align: left;
}

.\+text-center {
  text-align: center;
}

.\+text-right {
  text-align: right;
}

.\+text-justify {
  text-align: justify;
}

.\+truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.\+h-clip {
  overflow-x: hidden !important;
}

.\+v-clip {
  overflow-y: hidden !important;
}

.\+clip {
  overflow: hidden !important;
}

.\+scroll {
  overflow: auto !important;
}

.\+hidden {
  display: none !important;
  visibility: hidden !important;
}

.\+invisible {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
}

.\+transparent {
  visibility: hidden !important;
}

@media all and (min-width: 0em) and (max-width: 39.99em) {
  .\+hidden-mobl {
    display: none !important;
    visibility: hidden !important;
  }
}
@media all and (min-width: 40em) and (max-width: 67.49em) {
  .\+hidden-tabl {
    display: none !important;
    visibility: hidden !important;
  }
}
@media all and (min-width: 67.5em) {
  .\+hidden-desk {
    display: none !important;
    visibility: hidden !important;
  }
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
}

textarea {
  resize: vertical;
}

a,
input,
button {
  -ms-touch-action: none;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

.bar, .columns, .grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  pointer-events: none;
  word-spacing: -1em;
  text-align: left;
}
.bar > *, .columns > *, .grid > * {
  pointer-events: auto;
  display: inline-block;
  vertical-align: top;
  width: auto;
  min-height: 1px;
  word-spacing: normal;
  text-align: left;
  background-clip: padding-box;
}
.-reversed.bar, .-reversed.columns, .-reversed.grid {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  text-align: right;
  direction: rtl;
}
.-reversed.bar > *, .-reversed.columns > *, .-reversed.grid > * {
  direction: ltr;
}
.-h-align-left.bar, .-h-align-left.columns, .-h-align-left.grid, .-reversed.-h-align-right.bar, .-reversed.-h-align-right.columns, .-reversed.-h-align-right.grid {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.-h-align-right.bar, .-h-align-right.columns, .-h-align-right.grid, .-reversed.-h-align-left.bar, .-reversed.-h-align-left.columns, .-reversed.-h-align-left.grid {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  text-align: right;
}
.-h-align-center.bar, .-h-align-center.columns, .-h-align-center.grid {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}
.-h-align-justify.bar, .-h-align-justify.columns, .-h-align-justify.grid {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: justify;
}
.-h-align-justify.bar:after, .-h-align-justify.columns:after, .-h-align-justify.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}
.-v-align-top.bar, .-v-align-top.columns, .-v-align-top.grid {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
}
.-v-align-top.bar > *, .-v-align-top.columns > *, .-v-align-top.grid > * {
  vertical-align: top;
}
.-v-align-center.bar, .-v-align-center.columns, .-v-align-center.grid {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
}
.-v-align-center.bar > *, .-v-align-center.columns > *, .-v-align-center.grid > * {
  vertical-align: middle;
}
.-v-align-bottom.bar, .-v-align-bottom.columns, .-v-align-bottom.grid {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
}
.-v-align-bottom.bar > *, .-v-align-bottom.columns > *, .-v-align-bottom.grid > * {
  vertical-align: bottom;
}
.-v-align-fill.bar, .-v-align-fill.columns, .-v-align-fill.grid {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
}
.-h-gap-sm.bar, .-h-gap-sm.columns, .-h-gap-sm.grid {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
.-h-gap-sm.-h-outer-gap.bar, .-h-gap-sm.-h-outer-gap.columns, .-h-gap-sm.-h-outer-gap.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.-h-gap-sm.bar > *, .-h-gap-sm.columns > *, .-h-gap-sm.grid > * {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
}
.-v-gap-sm.bar, .-v-gap-sm.columns, .-v-gap-sm.grid {
  margin-top: -0.5em;
}
.-v-gap-sm.-v-outer-gap.bar, .-v-gap-sm.-v-outer-gap.columns, .-v-gap-sm.-v-outer-gap.grid {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0.5em;
}
.-v-gap-sm.bar > *, .-v-gap-sm.columns > *, .-v-gap-sm.grid > * {
  margin-top: 0.5em;
}
.-h-gap-md.bar, .-h-gap-md.columns, .-h-gap-md.grid {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.-h-gap-md.-h-outer-gap.bar, .-h-gap-md.-h-outer-gap.columns, .-h-gap-md.-h-outer-gap.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.-h-gap-md.bar > *, .-h-gap-md.columns > *, .-h-gap-md.grid > * {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
}
.-v-gap-md.bar, .-v-gap-md.columns, .-v-gap-md.grid {
  margin-top: -1em;
}
.-v-gap-md.-v-outer-gap.bar, .-v-gap-md.-v-outer-gap.columns, .-v-gap-md.-v-outer-gap.grid {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1em;
}
.-v-gap-md.bar > *, .-v-gap-md.columns > *, .-v-gap-md.grid > * {
  margin-top: 1em;
}
.-h-gap-lg.bar, .-h-gap-lg.columns, .-h-gap-lg.grid {
  margin-left: -1em;
  margin-right: -1em;
}
.-h-gap-lg.-h-outer-gap.bar, .-h-gap-lg.-h-outer-gap.columns, .-h-gap-lg.-h-outer-gap.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.-h-gap-lg.bar > *, .-h-gap-lg.columns > *, .-h-gap-lg.grid > * {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}
.-v-gap-lg.bar, .-v-gap-lg.columns, .-v-gap-lg.grid {
  margin-top: -2em;
}
.-v-gap-lg.-v-outer-gap.bar, .-v-gap-lg.-v-outer-gap.columns, .-v-gap-lg.-v-outer-gap.grid {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2em;
}
.-v-gap-lg.bar > *, .-v-gap-lg.columns > *, .-v-gap-lg.grid > * {
  margin-top: 2em;
}

ul.bar, ul.columns, ul.grid,
ol.bar,
ol.columns,
ol.grid {
  margin: 0;
  padding: 0;
}
ul.bar > li, ul.columns > li, ul.grid > li,
ol.bar > li,
ol.columns > li,
ol.grid > li {
  list-style: none;
}

.bar > .item.-fill {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
@media all and (min-width: 0em) {
  .bar.-fitted-mobl {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .bar.-fitted-mobl > .item {
    display: table-cell;
  }
  .bar.-fitted-mobl > .item.-fit {
    width: 1px;
    white-space: nowrap;
  }
  .bar.-fitted-mobl > .item.-compress {
    width: 1px;
  }
  .bar.-fitted-mobl.-h-align-justify:after {
    content: none;
    display: none;
  }
  .bar.-fitted-mobl.-h-gap-sm {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-mobl.-h-gap-sm.-h-outer-gap > .item {
    border-left-width: 0.5em;
    border-right-width: 0.5em;
  }
  .bar.-fitted-mobl.-h-gap-sm > .item {
    border-left-width: 0.5em;
    border-right-width: 0;
  }
  .bar.-fitted-mobl.-h-gap-sm > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-mobl.-v-gap-sm {
    margin-top: 0;
  }
  .bar.-fitted-mobl.-v-gap-sm.-v-outer-gap > .item {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }
  .bar.-fitted-mobl.-h-gap-md {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-mobl.-h-gap-md.-h-outer-gap > .item {
    border-left-width: 1em;
    border-right-width: 1em;
  }
  .bar.-fitted-mobl.-h-gap-md > .item {
    border-left-width: 1em;
    border-right-width: 0;
  }
  .bar.-fitted-mobl.-h-gap-md > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-mobl.-v-gap-md {
    margin-top: 0;
  }
  .bar.-fitted-mobl.-v-gap-md.-v-outer-gap > .item {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
  }
  .bar.-fitted-mobl.-h-gap-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-mobl.-h-gap-lg.-h-outer-gap > .item {
    border-left-width: 2em;
    border-right-width: 2em;
  }
  .bar.-fitted-mobl.-h-gap-lg > .item {
    border-left-width: 2em;
    border-right-width: 0;
  }
  .bar.-fitted-mobl.-h-gap-lg > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-mobl.-v-gap-lg {
    margin-top: 0;
  }
  .bar.-fitted-mobl.-v-gap-lg.-v-outer-gap > .item {
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
  }
}
@media all and (min-width: 40em) {
  .bar.-fitted-tabl {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .bar.-fitted-tabl > .item {
    display: table-cell;
  }
  .bar.-fitted-tabl > .item.-fit {
    width: 1px;
    white-space: nowrap;
  }
  .bar.-fitted-tabl > .item.-compress {
    width: 1px;
  }
  .bar.-fitted-tabl.-h-align-justify:after {
    content: none;
    display: none;
  }
  .bar.-fitted-tabl.-h-gap-sm {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-tabl.-h-gap-sm.-h-outer-gap > .item {
    border-left-width: 0.5em;
    border-right-width: 0.5em;
  }
  .bar.-fitted-tabl.-h-gap-sm > .item {
    border-left-width: 0.5em;
    border-right-width: 0;
  }
  .bar.-fitted-tabl.-h-gap-sm > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-tabl.-v-gap-sm {
    margin-top: 0;
  }
  .bar.-fitted-tabl.-v-gap-sm.-v-outer-gap > .item {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }
  .bar.-fitted-tabl.-h-gap-md {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-tabl.-h-gap-md.-h-outer-gap > .item {
    border-left-width: 1em;
    border-right-width: 1em;
  }
  .bar.-fitted-tabl.-h-gap-md > .item {
    border-left-width: 1em;
    border-right-width: 0;
  }
  .bar.-fitted-tabl.-h-gap-md > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-tabl.-v-gap-md {
    margin-top: 0;
  }
  .bar.-fitted-tabl.-v-gap-md.-v-outer-gap > .item {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
  }
  .bar.-fitted-tabl.-h-gap-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-tabl.-h-gap-lg.-h-outer-gap > .item {
    border-left-width: 2em;
    border-right-width: 2em;
  }
  .bar.-fitted-tabl.-h-gap-lg > .item {
    border-left-width: 2em;
    border-right-width: 0;
  }
  .bar.-fitted-tabl.-h-gap-lg > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-tabl.-v-gap-lg {
    margin-top: 0;
  }
  .bar.-fitted-tabl.-v-gap-lg.-v-outer-gap > .item {
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
  }
}
@media all and (min-width: 67.5em) {
  .bar.-fitted-desk {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .bar.-fitted-desk > .item {
    display: table-cell;
  }
  .bar.-fitted-desk > .item.-fit {
    width: 1px;
    white-space: nowrap;
  }
  .bar.-fitted-desk > .item.-compress {
    width: 1px;
  }
  .bar.-fitted-desk.-h-align-justify:after {
    content: none;
    display: none;
  }
  .bar.-fitted-desk.-h-gap-sm {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-desk.-h-gap-sm.-h-outer-gap > .item {
    border-left-width: 0.5em;
    border-right-width: 0.5em;
  }
  .bar.-fitted-desk.-h-gap-sm > .item {
    border-left-width: 0.5em;
    border-right-width: 0;
  }
  .bar.-fitted-desk.-h-gap-sm > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-desk.-v-gap-sm {
    margin-top: 0;
  }
  .bar.-fitted-desk.-v-gap-sm.-v-outer-gap > .item {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }
  .bar.-fitted-desk.-h-gap-md {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-desk.-h-gap-md.-h-outer-gap > .item {
    border-left-width: 1em;
    border-right-width: 1em;
  }
  .bar.-fitted-desk.-h-gap-md > .item {
    border-left-width: 1em;
    border-right-width: 0;
  }
  .bar.-fitted-desk.-h-gap-md > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-desk.-v-gap-md {
    margin-top: 0;
  }
  .bar.-fitted-desk.-v-gap-md.-v-outer-gap > .item {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
  }
  .bar.-fitted-desk.-h-gap-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .bar.-fitted-desk.-h-gap-lg.-h-outer-gap > .item {
    border-left-width: 2em;
    border-right-width: 2em;
  }
  .bar.-fitted-desk.-h-gap-lg > .item {
    border-left-width: 2em;
    border-right-width: 0;
  }
  .bar.-fitted-desk.-h-gap-lg > .item:first-child {
    border-left-width: 0;
  }
  .bar.-fitted-desk.-v-gap-lg {
    margin-top: 0;
  }
  .bar.-fitted-desk.-v-gap-lg.-v-outer-gap > .item {
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
  }
}

.columns > .column {
  width: 100%;
}
@media all and (min-width: 0em) {
  .columns > .column.-mobl-12 {
    width: 100%;
  }
  .columns > .column.-mobl-11 {
    width: 91.66667%;
  }
  .columns > .column.-mobl-10 {
    width: 83.33333%;
  }
  .columns > .column.-mobl-9 {
    width: 75%;
  }
  .columns > .column.-mobl-8 {
    width: 66.66667%;
  }
  .columns > .column.-mobl-7 {
    width: 58.33333%;
  }
  .columns > .column.-mobl-6 {
    width: 50%;
  }
  .columns > .column.-mobl-5 {
    width: 41.66667%;
  }
  .columns > .column.-mobl-4 {
    width: 33.33333%;
  }
  .columns > .column.-mobl-3 {
    width: 25%;
  }
  .columns > .column.-mobl-2 {
    width: 16.66667%;
  }
  .columns > .column.-mobl-1 {
    width: 8.33333%;
  }
}
@media all and (min-width: 40em) {
  .columns > .column.-tabl-12 {
    width: 100%;
  }
  .columns > .column.-tabl-11 {
    width: 91.66667%;
  }
  .columns > .column.-tabl-10 {
    width: 83.33333%;
  }
  .columns > .column.-tabl-9 {
    width: 75%;
  }
  .columns > .column.-tabl-8 {
    width: 66.66667%;
  }
  .columns > .column.-tabl-7 {
    width: 58.33333%;
  }
  .columns > .column.-tabl-6 {
    width: 50%;
  }
  .columns > .column.-tabl-5 {
    width: 41.66667%;
  }
  .columns > .column.-tabl-4 {
    width: 33.33333%;
  }
  .columns > .column.-tabl-3 {
    width: 25%;
  }
  .columns > .column.-tabl-2 {
    width: 16.66667%;
  }
  .columns > .column.-tabl-1 {
    width: 8.33333%;
  }
}
@media all and (min-width: 67.5em) {
  .columns > .column.-desk-12 {
    width: 100%;
  }
  .columns > .column.-desk-11 {
    width: 91.66667%;
  }
  .columns > .column.-desk-10 {
    width: 83.33333%;
  }
  .columns > .column.-desk-9 {
    width: 75%;
  }
  .columns > .column.-desk-8 {
    width: 66.66667%;
  }
  .columns > .column.-desk-7 {
    width: 58.33333%;
  }
  .columns > .column.-desk-6 {
    width: 50%;
  }
  .columns > .column.-desk-5 {
    width: 41.66667%;
  }
  .columns > .column.-desk-4 {
    width: 33.33333%;
  }
  .columns > .column.-desk-3 {
    width: 25%;
  }
  .columns > .column.-desk-2 {
    width: 16.66667%;
  }
  .columns > .column.-desk-1 {
    width: 8.33333%;
  }
}

.grid > .cell {
  width: 100%;
}
.grid.-has-2 > .cell {
  width: 50%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-2 > .cell {
    width: 100%;
  }
}
.grid.-has-3 > .cell {
  width: 33.33333%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-3 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 53.32333em) {
  .grid.-has-3 > .cell {
    width: 100%;
  }
}
.grid.-has-4 > .cell {
  width: 25%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-4 > .cell {
    width: 33.33333%;
  }
}
@media all and (max-width: 59.99em) {
  .grid.-has-4 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 39.99em) {
  .grid.-has-4 > .cell {
    width: 100%;
  }
}
.grid.-has-5 > .cell {
  width: 20%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-5 > .cell {
    width: 25%;
  }
}
@media all and (max-width: 63.99em) {
  .grid.-has-5 > .cell {
    width: 33.33333%;
  }
}
@media all and (max-width: 47.99em) {
  .grid.-has-5 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 31.99em) {
  .grid.-has-5 > .cell {
    width: 100%;
  }
}
.grid.-has-6 > .cell {
  width: 16.66667%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-6 > .cell {
    width: 20%;
  }
}
@media all and (max-width: 66.65667em) {
  .grid.-has-6 > .cell {
    width: 25%;
  }
}
@media all and (max-width: 53.32333em) {
  .grid.-has-6 > .cell {
    width: 33.33333%;
  }
}
@media all and (max-width: 39.99em) {
  .grid.-has-6 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 26.65667em) {
  .grid.-has-6 > .cell {
    width: 100%;
  }
}
.grid.-has-7 > .cell {
  width: 14.28571%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-7 > .cell {
    width: 16.66667%;
  }
}
@media all and (max-width: 68.56143em) {
  .grid.-has-7 > .cell {
    width: 20%;
  }
}
@media all and (max-width: 57.13286em) {
  .grid.-has-7 > .cell {
    width: 25%;
  }
}
@media all and (max-width: 45.70429em) {
  .grid.-has-7 > .cell {
    width: 33.33333%;
  }
}
@media all and (max-width: 34.27571em) {
  .grid.-has-7 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 22.84714em) {
  .grid.-has-7 > .cell {
    width: 100%;
  }
}
.grid.-has-8 > .cell {
  width: 12.5%;
}
@media all and (max-width: 79.99em) {
  .grid.-has-8 > .cell {
    width: 14.28571%;
  }
}
@media all and (max-width: 69.99em) {
  .grid.-has-8 > .cell {
    width: 16.66667%;
  }
}
@media all and (max-width: 59.99em) {
  .grid.-has-8 > .cell {
    width: 20%;
  }
}
@media all and (max-width: 49.99em) {
  .grid.-has-8 > .cell {
    width: 25%;
  }
}
@media all and (max-width: 39.99em) {
  .grid.-has-8 > .cell {
    width: 33.33333%;
  }
}
@media all and (max-width: 29.99em) {
  .grid.-has-8 > .cell {
    width: 50%;
  }
}
@media all and (max-width: 19.99em) {
  .grid.-has-8 > .cell {
    width: 100%;
  }
}

.alignbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  word-spacing: -1em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.alignbox > * {
  vertical-align: middle !important;
  word-spacing: normal;
}
.alignbox:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  word-spacing: normal;
}
.alignbox > *,
.alignbox > .box {
  display: inline-block;
  white-space: normal;
  text-align: inherit;
}
.alignbox > .box.-fix-top, .alignbox > .box.-fix-bottom {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
}
.alignbox > .box.-fix-top {
  top: 0;
}
.alignbox > .box.-fix-bottom {
  bottom: 0;
}
.alignbox.-h-align-left {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.alignbox.-h-align-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  text-align: right;
}
.alignbox.-h-align-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}
.alignbox.-v-align-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
}
.alignbox.-v-align-top > * {
  vertical-align: top !important;
}
.alignbox.-v-align-top:after,
.alignbox.-v-align-top > .box {
  vertical-align: top;
}
.alignbox.-v-align-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
}
.alignbox.-v-align-bottom > * {
  vertical-align: bottom !important;
}
.alignbox.-v-align-bottom:after,
.alignbox.-v-align-bottom > .box {
  vertical-align: bottom;
}
.alignbox.-v-align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
}
.alignbox.-v-align-center > * {
  vertical-align: middle !important;
}
.alignbox.-v-align-center:after,
.alignbox.-v-align-center > .box {
  vertical-align: middle;
}

.ratiobox {
  display: block;
  position: relative;
  padding: 100% 0 0 100%;
}
.ratiobox > .box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ratiobox.-ratio-1-1 {
  padding-top: 100%;
}
.ratiobox.-ratio-5-4 {
  padding-top: 80%;
}
.ratiobox.-ratio-4-3 {
  padding-top: 75%;
}
.ratiobox.-ratio-3-2 {
  padding-top: 66.66667%;
}
.ratiobox.-ratio-16-10 {
  padding-top: 62.5%;
}
.ratiobox.-ratio-5-3 {
  padding-top: 60%;
}
.ratiobox.-ratio-16-9 {
  padding-top: 56.25%;
}
.ratiobox.-ratio-1_85-1 {
  padding-top: 54.05405%;
}
.ratiobox.-ratio-2-1 {
  padding-top: 50%;
}
.ratiobox.-ratio-2_39-1 {
  padding-top: 41.841%;
}

.container {
  max-width: 80em;
  margin: auto;
}
.container.-width-12 {
  max-width: 80em;
}
.container.-width-11 {
  max-width: 73.3336em;
}
.container.-width-10 {
  max-width: 66.6664em;
}
.container.-width-9 {
  max-width: 60em;
}
.container.-width-8 {
  max-width: 53.3336em;
}
.container.-width-7 {
  max-width: 46.6664em;
}
.container.-width-6 {
  max-width: 40em;
}
.container.-width-5 {
  max-width: 33.3336em;
}
.container.-width-4 {
  max-width: 26.6664em;
}
.container.-width-3 {
  max-width: 20em;
}
.container.-width-2 {
  max-width: 13.3336em;
}
.container.-width-1 {
  max-width: 6.6664em;
}
.container.-width-fill {
  max-width: none;
}
.container.-align-left {
  margin: 0 auto 0 0;
}
.container.-align-right {
  margin: 0 0 0 auto;
}
.container.-align-center {
  margin: 0 auto;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  speak: none;
  cursor: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 1em;
  height: 1em;
  font-size: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  font-size: 20px;
  padding: 12px 20px;
  border-width: 1px;
  border-style: solid;
  line-height: 1;
  overflow: hidden;
  height: 46px;
  height: -webkit-calc(26px + 1em);
  height: calc(26px + 1em);
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 999px;
}
.button:hover, .button:active {
  outline: 0;
}
.button:hover, .button:focus {
  background-color: lightgrey;
}
.button:active {
  color: white;
  background-color: black;
}

.field {
  display: block;
  width: 100%;
  color: black;
  background-color: white;
  border-color: black;
}
input.field {
  font-size: 20px;
  padding: 12px 20px;
  border-width: 1px;
  border-style: solid;
  line-height: 1;
  overflow: hidden;
  height: 46px;
  height: -webkit-calc(26px + 1em);
  height: calc(26px + 1em);
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
}
textarea.field {
  padding: 7px 20px 7px 20px;
  font-size: 20px;
  padding: -webkit-calc(22px - 0.75em) 20px -webkit-calc(22px - 0.75em) 20px;
  padding: calc(22px - 0.75em) 20px calc(22px - 0.75em) 20px;
  border-width: 1px;
  border-style: solid;
  line-height: 1.5;
}
.field::-webkit-input-placeholder {
  color: grey;
}
.field::-moz-placeholder {
  color: grey;
}
.field:-ms-input-placeholder {
  color: grey;
}
.field::placeholder {
  color: grey;
}
