// Field
// =====

@mixin field(
	$font-size: 1em,
	//$placeholder-font-size: $font-size,
	$padding: 0,
	$border-width: 0,
	$line-height: 1, // TODO Select box in chrome (at least) clips at low line heights :(
	$inline: false,
	$display-options: true
) {
	outline: 0;

	@extend %field !optional;

	@include control(
		$font-size,
		$padding,
		$border-width,
		$line-height,
		$inline,
		$display-options,
		false // Icon placement
	);

	/*@if $font-size != $placeholder-font-size {

		&::-webkit-input-placeholder {
			font-size: $placeholder-font-size;
			// line-height ?? TODO
		}

		&::-moz-placeholder {
			font-size: $placeholder-font-size;
			// line-height ?? TODO
		}

		&:-ms-input-placeholder {
			font-size: $placeholder-font-size;
			// line-height ?? TODO
		}

		&::placeholder {
			font-size: $placeholder-font-size;
			// line-height ?? TODO
		}
	}*/

	@at-root #{selector-unify(&, textarea)} {
		height: auto;
		white-space: normal;
		overflow: auto;
	}
}

/*

Disabled icon-field for one major issue:

The $icon-size may not correctly apply if the field is given a different font size
The only way to overcome this is if we know the fields font size, but that would
require passing the font size to the field mixin. I don't really like this solution
as it is not consistent with the button and label. I could add the option to those
too but it's just increased complexity for buttons & labels for no practical reason.
Still trying to decide what to do here...

This is not a necessary addition to the framework but it would be nice to have.


@mixin icon-field(
	$field,
	$padding: $base-box-padding,
	$line-height: 1,
	$inline: false,
	$icon-spacing: auto,
	$icon-size: $icon-default-size
) {
	@extend %icon-field !optional;

	@if $inline {
		display: inline-block;
		vertical-align: middle;
	} @else {
		display: block;
	}

	position: relative;

	&:before {
		position: absolute;
		pointer-events: none; // Allowing click-through for buttons and fields

		@if $icon-size != $icon-default-size
		{
			font-size: $icon-size;
		}
	}

	@if $icon-spacing == auto
	{
		$icon-spacing: $padding;
	}

	@include parameter('side', 'left') {

		> # {$field} {
			padding-left: left($padding) + left($icon-spacing) + $icon-size;
		}

		&:before {
			top: 50%;
			margin-top: -.5em;
			left: left($padding);
		}
	}

	@include parameter('side', 'right') {

		> # {$field} {
			padding-right: right($padding) + right($icon-spacing) + $icon-size;
		}

		&:before {
			top: 50%;
			margin-top: -.5em;
			right: right($padding);
		}
	}

	/* Disallow inline fields - disabled for now...
	> # {$field} {
		display: block;
	}
	* /
}

*/