////
/// Style
/// @group theme-functions
/// @author Benjamin Fleming
////


// Public
// ------

/// Retrieves the color from the color map setting.
/// @require {variable} hf-colors
/// @param {String | Color} $name - The name of the color
/// @param {Number} $alpha - The transparency of the color as a decimal
/// @return {Color} A CSS color
@function hf-color($name, $alpha: auto) {
	$type: type-of($name);
	$color: false;

	@if $type == 'string' and map-has-key($hf-colors, $name) {
		$color: map-get($hf-colors, $name);

		@if type-of($color) == 'string' {
			@return hf-color($color, $alpha);
		}

	} @else if $type == 'color' {
		$color: $name;
	}

	@if type-of($color) != 'color' {
		@error '#{inspect($name)} is not a valid color input';
	}

	$alpha: if($alpha == auto, alpha($color), $alpha);

	@return rgba($color, $alpha);
}
